*{
    margin: 0px;
    padding: 0px;
    color: white;
    border: border-box; 
}
.firstimage{
height: 831px;
background-color: aqua;
background-image: url(front_image.jpg);
background-size: cover;
}
.navbar{
    display: flex;
    height: 100px;
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        align-items: center;
        /* background-color: black; */

}

.navbarotherelements {
    width: 100%;
}
.navbarotherelements a:hover,.menuandshop:hover{
    text-decoration: underline;
}
.navbarotherelements a{
    margin-left: 25px;
    width: 100%;
    font-size: 14px;
}
.menuandshop{
    margin-right: 25px;
    width: 260px;
}
.spacexlogo{
    width: 250px;
    height: 95px;
    font-size: 50px;
    /* background-image: url(spaceXlogo.png);
    background-size: cover;
     */

}
.content{
    margin-left: 100px;
    
}
.boxdivcontent1{
    height: 38px;
    width: 420px;
    font-size: 20px;
}
.boxdivcontent2{
    width: 590px;
    height: 48px;
    font-size:23px;
    text-transform: uppercase;
    opacity: 1;
    visibility: inherit;
    transform: translate3d(0px 0px 0px);
    text-shadow: 0 0 2px #555;
    
}
.boxdivcontent3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    font-size: 14px;
    margin-top:40px;
    border: 2px solid white;
}.boxdivcontent31{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    font-size: 14px;
    margin-top:40px;
    border: 2px solid white;
}.boxdivcontent32{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    font-size: 14px;
    margin-top:90px;
    border: 2px solid white;
}.boxdivcontent33{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    font-size: 14px;
    margin-top:90px;
    border: 2px solid white;
}
.heightandwidthofimage{
    height: 831px;
}
.secondimage{  border: 2px solid black;
    background-image: url(spaceximg1.jpg);
    background-size: cover;
}
.thirdimage{  border: 2px solid black;
    background-image: url(spaceximg3.jpg);
    background-size: cover;
}.fourthimage{  border: 2px solid black;
    background-image: url(spaceximg4.jpg);
    background-size: cover;
}.fifthimage{
    border: 2px solid black;
    background-image: url(spaceximg5.jpg);
    background-size: cover;
}
.footer{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:space-evenly;
    background-color: black;
    height: 80px;
}
.content1{
   margin-top: 380px;
   margin-left: 200px;
    width: 590px;
margin-bottom: 6px;
/* border: 2px solid black; */
}
.boxdivcontent3:hover{
    background-color: white;
    color: black;
}
.menuandshop {
    display:flex;
    justify-content: space-evenly;
}
.content2{
    margin-top: 480px;
    margin-left: 200px;
     width: 590px;
 margin-bottom: 6px;
 /* border: 2px solid black; */
 }
